@model WebApp.Models.ArticlesViewModel
@{
    ViewBag.Title = "POST Page";
}

<div class="container">
    <form method="post" action="/Home/PostPage">
        <div class="row">
            Источник ленты
            <select id="SelectedChannel" class="form-control">
                <option>Все</option>
                @foreach (var item in Model.Channels)
                {
                    <option value="@item.Description">@item.Description</option>
                }
            </select>
        </div>
        <br />
        <div class="row">
            <input type="radio" class="sort-by" name="sort-by" value="1" checked="checked" /> Сортировать по дате
            <input type="radio" class="sort-by" name="sort-by" value="2" /> Сортировать по источнику
        </div>
        <br />
        <div class="row">
            <input type="submit" id="get-articles" value="Просмотреть" class="btn btn-primary">
        </div>
        <br />
        <div class="row">
            <table id="articles-list" class="table table-hover">
                <thead>
                    <tr>
                        <th>Источник</th>
                        <th>Название новости</th>
                        <th>Описание новости</th>
                        <th>Дата публикации</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Articles)
                    {
                        <tr>
                            <td style="max-width:440px"><a href="@item.Link">@item.Link</a></td>
                            <td style="max-width:440px">@item.Title</td>
                            <td style="max-width:440px">@item.Description</td>
                            <td style="max-width:440px">@item.PubDate</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </form>
</div>